.text-shadow {
  text-shadow: 2px 2px #000;
}
html {
  scroll-behavior: smooth;
}
body, html {
  font-display: swap;
  font-family: "neue-kabel", "Segoe UI", "Arial", "Helvetica Neue", Helvetica, sans-serif;
}
@media (max-width: $breakpoint-sm-max) {
  body.body--dark {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
      url("/bar/bar-400.jpg") no-repeat fixed;
    background-position: 57% 0%;
    background-size: cover;
    background-attachment: fixed;
  }
}
@media (max-width: $breakpoint-md-max) {
  body.body--dark {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
      url("/bar/bar-800.jpg") no-repeat fixed;
    background-position: 57% 0%;
    background-size: cover;
    background-attachment: fixed;
  }
}
@media (max-width: $breakpoint-lg-max) {
  body.body--dark {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
      url("/bar/bar-1200.jpg") no-repeat fixed;
    background-position: 57% 0%;
    background-size: cover;
    background-attachment: fixed;
  }
}
@media (min-width: $breakpoint-xl-min) {
  body.body--dark {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
      url("/bar/bar-2000.jpg") no-repeat fixed;
    background-position: 57% 45%;
    background-size: cover;
    background-attachment: fixed;
  }
}