// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// $primary   : #172F22; // #16342A;
$primary: #163329;
// $secondary : #334D44;
$secondary: #eadaa2;
// $accent    : #4c2a26; // #95572F;
$accent: #bc6c25;

$dark      : #1D1D1D;
$dark-page : #16342A;

$positive  : #21BA45;
$negative  : #D62B27;
$info      : #31CCEC;
$warning   : #F2C037;

// $h-primary: #163329;
// $h-secondary: #eadaa2;
// $h-accent: #bc6c25;
$h-boozy: #163329;
$h-bitter: #2e0f15;
$h-sweet: #eadaa2;
$h-citrus: #bc6c25;
$h-tart: #a6b07e;