$primary: #163329;
$secondary: #eadaa2;
$accent: #bc6c25;

$dark      : #1D1D1D;
$dark-page : #16342A;

$positive  : #21BA45;
$negative  : #D62B27;
$info      : #31CCEC;
$warning   : #F2C037;

$h-boozy: #163329;
$h-bitter: #2e0f15;
$h-sweet: #eadaa2;
$h-citrus: #bc6c25;
$h-tart: #a6b07e;